body {
  font-family: 'Monsterrat', sans-serif;
  background-color: #f1f1f1;
}


.navBar {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  .navBar {
    display: none;
  }
}